@import url("https://fonts.googleapis.com/css?family=Anton");

* {
  font-family: "anton";
  color: white;
}

.screen-display {
  justify-content: center;
  background-color: black;
  /* color: white; */
}

.contents-display {
  width: 120vw;
  height: 100vh;
  background-color: black;
  text-align: center;
}

#title-screen {
  display: flex;
  /* display: none; */
}

#title-screen-contents {
  /* width: 120vw;
  height: 100vh;
  background-color: black; */
  /* align-content: center;
  justify-content: center;
  align-self: center; */
}

h1 {
  font-size: 100px;
  text-align: center;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

#title-screen span {
  font-size: 40px;
  padding-right: 20px;
}

.player-name-input {
  /* justify-content: center;
  text-align: center;
  align-self: center; */
  display: inline-flex;
}

#name-input {
  /* display: inline-flex; */
}

#player-name {
  border: none;
  /* color: white; */
  background-color: black;
  border: none;
  cursor: text;
  caret-color: white;
  font-size: 40px;
  height: 40px;
  width: 350px;
}

#player-name:focus {
  outline: none;
}

#level-select {
  display: flex;
  justify-content: center;
  /* padding: 30px; */
}

.btn {
  background-color: #f8cc48;
  /* color: white; */
  border-radius: 12px;
  padding: 16px 30px;
  cursor: pointer;
}

.btn-clear {
  background-color: transparent;
  border: none;
  /* color: white; */
  outline: none;
  cursor: pointer;
}

.difficulty-btn {
  font-size: 20px;
  margin: 30px;
}

.difficulty-btn:focus {
  outline: none;
  border: solid 8px white;
}

.btn-YN {
  font-size: 30px;
  margin: 30px;
}

#start-btn {
  font-size: 40px;
}

#score-btn {
  font-size: 30px;
  display: inline-flex;
}

#score-btn-2 {
  font-size: 30px;
}

#player-btn {
  font-size: 30px;
}

#game-container {
  display: none;
  /* display: flex; */
  background-color: black;
  width: 100%;
  /* position: fixed; */
}

#boundary {
  /* display: flex; */
  justify-content: center;
}

#game-board {
  justify-content: center;
}

#game-board-upper {
  display: inline-flex;
  background-color: black;
  width: 100%;
  justify-content: center;
}

/* #high-score {
  justify-content: center;
  align-content: center;
} */

#game-board-lower {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  background-color: black;
}

#score-container {
  display: inline-flex;
}

#lives {
  display: inline-flex;
}

#end-screen {
  display: flex;
}

#high-score-list {
  display: none;
}
