@import url("https://fonts.googleapis.com/css?family=Anton");

* {
  font-family: "anton";
  color: white;
}

.screen-display {
  justify-content: center;
  background-color: black;
  height: 100%;
  /* color: white; */
}

.contents-display {
  width: 120vw;
  height: 100vh;
  background-color: black;
  text-align: center;
  /* position: relative; */
}

#title-screen {
  display: flex;
  /* display: none; */
}

#title-screen-contents {
  /* width: 120vw;
  height: 100vh;
  background-color: black; */
  /* align-content: center;
  justify-content: center;
  align-self: center; */
}

h1 {
  font-size: 100px;
  text-align: center;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

#title-screen span {
  font-size: 40px;
  padding-right: 20px;
}

.player-name-input {
  margin-top: 30px;
  display: inline-flex;
}

#name-input {
  /* display: inline-flex; */
}

#player-name {
  border: none;
  /* color: white; */
  background-color: black;
  border: none;
  cursor: text;
  caret-color: white;
  font-size: 40px;
  height: 5vh;
  width: 42vw;
}

#player-name:focus {
  outline: none;
}

#level-select {
  display: flex;
  justify-content: center;
  /* padding: 30px; */
}

.btn {
  background-color: #f8cc48;
  /* color: white; */
  border-radius: 12px;
  padding: 16px 30px;
  cursor: pointer;
}

.btn-clear {
  background-color: transparent;
  border: none;
  /* color: white; */
  outline: none;
  cursor: pointer;
}

.difficulty-btn {
  font-size: 20px;
  margin: 30px;
}

.difficulty-btn:focus {
  outline: none;
  border: solid 8px white;
}

.btn-YN {
  font-size: 30px;
  margin: 30px;
  outline: none;
}

#start-btn {
  font-size: 40px;
  color: blue;
}

#score-btn {
  font-size: 30px;
  display: inline-flex;
}

#score-btn-2 {
  font-size: 30px;
}

#player-btn {
  font-size: 30px;
}

#animations {
  margin-top: 17vh;
  display: inline-flex;
  /* flex-direction: row; */
  width: 60%;
}

.pacman {
  /* display: inline-flex; */
  /* margin-left: 5px; */
  margin-top: 45px;
  margin-left: 15px;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  border: 70px solid #f8cc48;
  /* position: inline-block; */
  animation: pacman 1s linear infinite;
}

.munch {
  align-content: center;
  overflow-x: hidden;
  border-radius: 30%;
  margin: 20px;

  width: 30px;
  height: 30px;
  /* background-color: white; */
  right: -30px;

  animation: munch 1s linear 0s infinite;
  /* animation-delay: 1s; */
  /* display: inline-flex; */
  /* flex-direction: column;
  transform: rotate(90deg); */
}

@keyframes munch {
  0% {
    box-shadow: 100px 65px, 300px 65px, 500px 65px, 700px 65px, 900px 65px 0 0, 1100px 65px, 1300px 65px;
  }

  100% {
    box-shadow: 0px 65px, 100px 65px, 300px 65px, 500px 65px, 700px 65px, 900px 65px, 1100px 65px;
  }
}

@keyframes pacman {
  0% {
    border-right: 70px solid transparent;
  }
  50% {
    border-right: 70px solid #f8cc48;
  }
  100% {
    border-right: 70px solid transparent;
  }
}

#game-container {
  display: none;
  /* display: flex; */
  background-color: black;
  width: 100%;
  /* position: fixed; */
}

#boundary {
  /* display: flex; */
  justify-content: center;
}

#game-board {
  justify-content: center;
}

#game-board-upper {
  display: inline-flex;
  background-color: black;
  width: 100%;
  justify-content: center;
}

/* #high-score {
  justify-content: center;
  align-content: center;
} */

#game-board-lower {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  background-color: black;
}

#score-container {
  display: inline-flex;
}

#lives {
  display: inline-flex;
}

#replay-game {
  margin-top: 20px;
}

#end-screen {
  display: none;
}

#high-score-list {
  display: none;
}
